@import '../../sass/abstracts/_abstracts_import';


header{
    height : $header-height-base;
    position: fixed;
    top:0;
    left:0;
    width:100%; 
    

.header-top, .header-bottom{
padding:$padding-base $padding-comfy;

}

}


.header-nav{

    

a{
    display:block;
    padding: $padding-base $padding-comfy;
    font-size: $font-size-normal * 1.1;

    &:first-child{
        padding-left:0;
    }
    span{
        display:none;
    }

    i{
        display: block;
        font-size: 1.5em;
    }

    @include mediaSmall{
     i,span{    
         display:inline-block;
        vertical-align: middle;
    }   
    }



}

}