<header>
  <div class="header-top flex-oppose">
    <div class="header-id">
      <h1>{{Title}} Admin</h1>
    </div>
    <div class="header-controls scale-small">
      <span>Logged In As: </span>
      <a href="#">
Mr Bigglesworth
      </a>
    </div>
  </div>
  <div class="header-bottom">
    <nav class="header-nav flex">
      <a *ngFor="let item of Items" href="{{item.URL}}">
        <i class="material-icons">{{item.Icon}}</i>
        <span>{{item.Text}}</span>
      </a>
    </nav>
  </div>
</header>