/// <reference path="_color-defs.scss" />;


/* INTERFACE 

    $IMap : (
    bg,
    bg-active,
    font,
    anchor,
    link,
    link-active,
    link-visited,
    heading : ( 1,2,3,4,5,6 )
    button-fill,
    button-fill-active,
    button-fill-focus,
    button-text,
    button-border,
    button-accent-fill,
    button-accent-fill-active,
    button-accent-fill-focus,
    button-accent-text,
    button-accent-border,
    button-group-fill,
    button-group-text,
    button-group-border,
    button-group-active,
    button-group-select,
    select-fill,
    )

*/




@function colorset-define($colorset, $ext : ()){
    $map1 : map-merge(
                    (   
                bg: inherit,
                bg-active : null,
                border : inherit,
                font : inherit,
                anchor : inherit,
                link : inherit,
                link-active : inherit,
                link-visited : inherit,
                heading : 
                    (
                        1: inherit,
                        2: inherit,
                        3: inherit,
                        4: inherit,
                        5: inherit,
                        6: inherit 
                    ),
                input-font : inherit,
                input-fill : inherit,
                input-border : inherit,
                button-fill: inherit,
                button-fill-active : inherit,
                button-fill-focus: inherit,
                button-text: inherit,
                button-border : inherit,
                button-accent-fill : inherit,
                button-accent-fill-active : inherit,
                button-accent-fill-focus : inherit,
                button-accent-text : inherit,
                button-accent-border : inherit,
                buttongroup-fill : inherit,
                buttongroup-text : inherit,
                buttongroup-text-select : inherit,
                buttongroup-fill-active : inherit,
                buttongroup-fill-select : inherit,

                buttongroup-accent-fill : inherit,
                buttongroup-accent-text : inherit,
                buttongroup-accent-text-select : inherit,
                buttongroup-accent-fill-active : inherit,
                buttongroup-accent-fill-select : inherit,

                select-fill : inherit,
                gradient : null,

            ), $ext
        );
    @return map-merge($map1, $colorset);
}


@function set-heading-color($color){
    @return (
        1 : $color,
        2 : $color,
        3 : $color,
        4 : $color,
        5 : $color,
        6 : $color
        );
}




//$colorset-header

$colorset-content : () !default;
$colorset-header : () !default;
$colorset-footer : () !default;
$colorset-listing : () !default;
$colorset-a : () !default;
$colorset-b : () !default;
$colorset-podling : () !default;

//SITE

$colorset-content : colorset-define($colorset-content,
(
 bg : $color-bg-content,
                border : $color-border,
                font : $color-font-content,
                anchor : $color-font-anchor,
                link : $color-font-link,
                link-active : $color-font-link-active,
                link-visited : $color-font-link-visited
));

//HEADER
//$set-bg-header-base : desaturate(scale-color($color-theme-primary, $lightness : 80%), 65%);
$set-bg-header-base : #FFF;
$set-bg-buttongroup-fill : darken(saturate($color-button-group-fill, 3%),8%) !default;
$colorset-header : colorset-define($colorset-header,

    (
        bg : $set-bg-header-base,
        anchor: $color-font-content,
        link: $color-font-content,
        link-visited : $color-font-content,
        buttongroup-fill : $set-bg-buttongroup-fill 
    )
);

//FOOTER
$set-footer-bg-base : mix( $color-theme-primary , #000,20%) !default;
$set-footer-font-base : #FFF  !default;
$set-footer-button-accent-fill: mix($set-footer-bg-base, $color-accent-button-fill, 30%)  !default;
$colorset-footer : colorset-define($colorset-footer, 
    (
        bg : $set-footer-bg-base,
        font :  $set-footer-font-base,
        anchor: $set-footer-font-base,      
        link:   $color-font-link,
        link-visited:   $color-font-link,
        link-active:   $color-font-link-active,
        heading : set-heading-color($set-footer-font-base),
        input-fill : colors-tint($set-footer-bg-base, 5%),
        input-font : $set-footer-font-base, 
        button-text : $color-button-text,
        button-accent-fill :  $set-footer-button-accent-fill,
        button-accent-text : $color-accent-button-text,
        border : colors-tint($set-footer-bg-base , 2%),
        input-border : colors-tint($set-footer-bg-base , 2%)
    ));

//LISTING 
$set-listing-bg-base : rgba(255,255,255,0.4) !default;
//$set-listing-bg-base : mix($color-theme-primary, colors-shade($color-bg-content, 2%),10%) !default;
$set-listing-button-fill: saturate(colors-shade($set-listing-bg-base, 10%), 20%) !default;
$set-listing-button-text: scale-color($color-button-fill, $lightness : -70%) !default;
$colorset-listing : colorset-define($colorset-listing, 
    (
        bg : $set-listing-bg-base,
        //gradient : desaturate(scale-color($color-theme-primary, $lightness:  90%), 80%),
        gradient : null,
        font : lighten($color-font-content, 10%)
    ));

//A
$set-a-bg-base : mix($color-theme-primary, $color-bg-content, 20%) !default
$set-a-font-base :colors-tint($color-font-content, 10%) !default
$set-a-link:  inverse-value-mix($color-font-link, 10%);
$set-a-button-fill: mix($color-theme-primary, colors-shade($color-button-fill, 12%), 4%);
$set-a-button-text: colors-shade($set-a-button-fill, 60%);

$set-a-button-accent-fill: inverse-value-mix($color-accent-button-fill, 15%, 50, true) !default;
$set-a-button-accent-text: inverse-value-mix($set-a-button-accent-fill, 90%) !default;
$set-a-button-group-fill: $set-a-button-fill !default;
$set-a-button-group-text : $set-a-button-text;
$set-a-button-group-fill-select: $set-a-button-fill !default;
$set-a-button-group-accent-fill: $set-a-button-accent-fill !default;
$set-a-button-group-accent-fill-select: inverse-mix($set-a-button-accent-fill, 10%) !default;

$colorset-a : colorset-define($colorset-a, 
    (
        bg: $set-a-bg-base,
        font : $set-a-font-base,
        anchor : $set-a-font-base,
        link: $set-a-link,
        link-visited: $set-a-link,
        button-fill: $set-a-button-fill,
        button-text: $set-a-button-text,
        select: colors-tint($color-select-fill, 80%),
        buttongroup-fill : $set-a-button-fill,
        buttongroup-text : $set-a-button-text,
        
        buttongroup-fill-select  : $set-a-button-group-fill-select,
        buttongroup-accent-fill : $set-a-button-group-accent-fill,
        buttongroup-accent-fill-select  : $set-a-button-group-accent-fill-select,
        button-accent-fill : $set-a-button-accent-fill,
        button-accent-text :  $set-a-button-accent-text
    )
);

//B
$set-b-bg-base : $color-theme-primary !default
$set-b-font-base :inverse-value-mix($set-b-bg-base, 70%) !default
$set-b-link: $set-b-font-base !default;
    //inverse-value-mix($color-font-link, 30%) !default;
$set-b-button-fill: inverse-value-mix($set-b-bg-base, 70%, 50, true)   !default;
$set-b-button-text: inverse-value-mix($set-b-button-fill, 80%);
$set-b-button-accent-fill: inverse-value-mix($color-accent-button-fill, 15%, 50, true) !default;
$set-b-button-accent-text: inverse-value-mix($set-b-button-accent-fill, 90%) !default;
$set-b-button-group-fill: $set-b-button-fill !default;
$set-b-button-group-text : $set-b-button-text;
$set-b-button-group-fill-select: $set-b-button-fill !default;
$set-b-button-group-accent-fill: $set-b-button-accent-fill !default;
$set-b-button-group-accent-fill-select: inverse-mix($set-b-button-accent-fill, 10%) !default;
$colorset-b : colorset-define($colorset-b, 
(
        bg: $set-b-bg-base,
        font : $set-b-font-base,
        link: $set-b-link,
        link-visited: $set-b-link,
        button-fill : $set-b-button-fill,
        button-text: $set-b-button-text,
        select : colors-tint($color-select-fill, 70%),
        buttongroup-fill : $set-b-button-group-fill,
        buttongroup-text : $set-b-button-group-text,
        buttongroup-fill-select  : $set-b-button-group-fill-select,
        buttongroup-accent-fill : $set-b-button-group-accent-fill,
        buttongroup-accent-fill-select  : $set-b-button-group-accent-fill-select,
        button-accent-fill : $set-b-button-accent-fill,
        button-accent-text :  $set-b-button-accent-text
                
)
);




//PODLING
$set-podling-bg-base : #1f2121  !default;
$set-podling-font-base : #FFF  !default;

$colorset-podling : colorset-define($colorset-podling, 
(
        bg : $set-podling-bg-base,
        font :  $set-podling-font-base,
        anchor: $color-font-link,      
        link:   $color-font-link,
        link-visited:   $color-font-link,
        link-active:   $color-font-link-active,
        heading : set-heading-color($set-podling-font-base),
        input-fill : colors-tint($set-podling-bg-base, 5%),
        input-font : $set-podling-font-base, 
        button-text : $color-button-text,
        button-fill : $color-button-fill,
        border : colors-tint($set-podling-bg-base , 2%),
        input-border : colors-tint($set-podling-bg-base , 2%),
        buttongroup-fill : $color-button-group-fill,
        buttongroup-text : $color-button-text,
        buttongroup-fill-active : $color-button-group-fill-active,
        buttongroup-fill-select : $color-button-group-fill-select

)
);