/// <reference path="../references.scss" />;
@import "../themes_config/default-config";
@import "../abstracts/abstracts_import";

$color-root-active: saturate(shade($color-brand, 10%), 30%) !default;

@mixin media-letterbox {
    @media (min-aspect-ratio : 5/2) {
        @content;
    }
}

#rootNav {
    padding-bottom: 40%;
    width: 40%;
    position: relative;
    margin: auto;


    #rootSquare {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;

        > div {
            overflow: hidden;
            padding: 10px;
            box-sizing: border-box;
            height: 33%;
            width: 33%;
            float: left;
            clear: right;
            text-align: center;
            display: flex;



            a {
                margin: auto;
                display: block;

                span {
                    display: block;
                    transition: font-size 0.5s;
                    font-size: 0.8vw;

                    &:first-child {
                        font-size: 3vw;
                        margin-bottom: 8px;
                    }
                }
            }

            > div {
                margin: auto;
                height: 100%;
                height: 80%;
                width: 80%;
                display: flex;
                border-radius: 100%;
                transition: width 0.5s, height 0.5s, background-color 0.5s, box-shadow 0.5s;

                a {
                    color: $color-blend;
                    transition: color 0.5s;
                }

                &:hover {
                    width: 100%;
                    height: 100%;
                    background-color: tint($color-bg-content, 20%);
                    box-shadow: inset 0 0 0 0.7vw $color-root-active;

                    a {
                        color: $color-root-active;
                    }
                }
            }
        }

        h1 {
            font-size: 1vw;
            margin: auto;
        }

        #masterLogo {
            margin: auto;
            fill: $color-brand;
            width: 50%;
            height: 50%;
        }
    }

    @include media-letterbox {
        width: 100%;
        padding:0;
        position:static;
        margin:0;
        height:100%;
        #rootSquare {
            height:100%;
            display:flex;
            align-items:center;
            align-content:space-around;
            > div {
                width: 100%;
                height: auto;
                display: block;
                padding: 1em;

                &.root-icon-container{
                    
                }

                > div {
                    a {
                    }

                    &:hover {
                        width: auto;
                        height: auto;
                        background: none;
                        box-shadow: none;
                    }
                }

                .icon-head {
                    
                }
            }
        }
    }
}
