@import '../../sass/abstracts/_abstracts_import';

.heading-box{
    padding:$padding-base;
h3{
    background-color: $color-border;
    color:#FFF;
    padding:$padding-base;
}

    border:1px solid $color-border;
}