@import '../../sass/abstracts/_abstracts_import';

.context-nav{
width:100%;
overflow: auto;

  a {
     display:block;
     padding:$padding-comfy;
     transition:background-color 0.5s;
     width:100%;
     border-bottom:rgba(255,255,255,0.3) 1px solid;

     

     &:hover, &.selected{
        background-color: rgba(255,255,255,0.3);
     }
 }

@include color-set($colorset-primary);


@include mediaSmall {
  width: 13rem;
height:100%;

}

}