/// <reference path="../references.scss" />;
@import '../sass/abstracts/_abstracts_import';

.main {
    clear: both;
    padding-top: $header-height-base;

    .dialog & {
        padding-top: 0;
    }

}

.main, .main-container, .context-nav, .app-context-nav,  .main-content {
    height: 100%;    
}

.main-container {
    background-color: $color-bg-content;
    color: $color-font-content;
    display: flex;

    @include mediaSmall {
    }


    @include mediaMedium {  
    }

    @include mediaLarge {
    }
}


.main-content{
width:100%;

}
