/// <reference path="../references.scss" />;

.copy-box {
    border-bottom: 1px dotted rgba(0,0,0,0.1);

    &:hover {
        border-color: $color-actionable;
        position: relative;

        &::after {
            content: 'select';
            position: absolute;
            top: -1em;
            left: 0;
            color: $color-actionable;
        }
    }
}
