/// <reference path="../references.scss" />



.estimate-show {
    display: none;

    ._tabular & {
        display: none;

        .estimate-container & {
            display: table-row;
        }
    }

    .estimate-container & {
        display: initial;
    }
}

.estimate-container .estimate-show {
}

.estimate-hide {

    ._tabular & {
        .estimate-container & {
            display: none;
        }
    }

    .estimate-container & {
        display: none;
    }
}
