/// <reference path="../references.scss" />


/* NOTIFICATION */

.small-notification {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 10000;
    background-color: rgba($color-bg-content, 0.8);
    color: $color-font-content;

    > span {
        display: inline-block;
        padding: 0.25em 1em;
        font-size: 0.7em;
    }
}


.pulse {
    transition: background-color 1s ease-out;

    .on {
        background-color: $color-active;
    }
}

/* NESI NOTIFIER */

#notifierArea {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    max-height:50%;
    overflow:auto;

    .nesi-notifier {
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
    }

    .nesi-notifier-list {
        margin: 0;
    }
}

.nesi-notifier {
    animation: slideDown 1s;
    overflow: hidden;
}



.nesi-notifier .nesi-notifier-modal {
}

.nesi-notifier-list {
    margin: 0 0 2px 0;
    list-style: none;
    padding: 10px 5px;

    color: #FFF;

    > li {
        overflow: hidden;
        position: relative;
    }
}





.nesi-notifier-delete-button {
    position: absolute;
    top: 0;
    right: 3px;
}


.nesi-notifier-success {
    background-color: $color-bg-notifier-success;
    color: set-black-or-white($color-bg-notifier-success);
}

.nesi-notifier-info {
    background-color: $color-bg-notifier-info;
    color: set-black-or-white($color-bg-notifier-info);
}

.nesi-notifier-error {
    background-color: $color-bg-notifier-error;
    color: set-black-or-white($color-bg-notifier-error);
}


.nesi-notifier-message-container, .nesi-notifier-icon-container {
    float: left;
    clear: right;
}

.nesi-notifier-icon-container {
    width: 5.3rem;
    height: 5.3rem;
    font-size: 3.57rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nesi-notifier-message-container {
    width: calc(100% - 5.3rem);
    padding-left:1rem;
}

.nesi-notifier-title {
    font-size: 2rem;
    margin-bottom: margin-size($margin-base);
    font-weight: 100;
    text-transform: capitalize;
    font-family: $font-family-heading;
}

.nesi-notifier-message {
    margin-bottom: 2.2rem;
}


@-webkit-keyframes slideDown {
    from {
        max-height: 0;
    }

    to {
        max-height: 15rem;
    }
}

@-moz-keyframes slideDown {
    from {
        max-height: 0;
    }

    to {
        max-height: 15rem;
    }
}

@keyframes slideDown {
    from {
        max-height: 0;
    }

    to {
        max-height: 15rem;
    }
}
