/// <reference path="../references.scss" />


.maintenance-indicator {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $color-pop;
    padding: $padding-base;
    font-size: 0.6em;

    &:hover {
        opacity: 0.2;
    }

    body.maintenance & {
        display: block;
    }
}
