/// <reference path="../references.scss" />



.flex-editor {
    display: flex;
    flex-flow: column;

    .tool-bar {
        justify-content: flex-start;
    }

    .flex-form {
        flex: 1;
        overflow: auto;
        position: relative;
    }


    .info-bar {
        min-height: $flex-editor-bar-height;
        flex-grow: 0;
        @include color-set($colorset-footer);
    }
}
