/// <reference path="../references.scss" />


@include withDescendantsSelectors(listing, div, li) {
    $grad : map-get($colorset-listing, gradient);
    $bg : map-get($colorset-listing, bg);
    border-style: solid;
    transition: background-color 0.3s;
    @if(val-not-empty($grad)){
        background-image: linear-gradient(0,$grad  0,$bg   100% );
    }
    @include color-set($colorset-listing);
    border:1px solid shade($bg, 10%);
    border-width:0 0 1px 0;

    /*border-width:1px 0;
    border-top-color: shade($bg, 10%);
    border-bottom-color: tint($bg , 10%);*/

    &.ui-sortable-helper {
        background-color: tint(map-get($colorset-listing, bg), 50% );
        box-shadow: 0 0 50px rgba(0,0,0,0.2);
    }


    &.sort-group {
        &:hover {
            background-color: tint(map-get($colorset-listing, bg), 50% );
            //LIGHTEN LISTING COLOR
        }
    }
}



.listing-header {

    .collapse & {
        margin: 0;
    }
}


.listing-body {
    transition: height 0.5s;

    .collapse & {
        display: none;
    }
}



/* LABELED LIST */


.labeled-list {
    display: table;
    padding:0;
    > li {
        display: table-row;

        label, span {
            display: table-cell;
            padding: 0.2rem 0;
        }

        label {
            font-weight: 700;

            &::after {
                content: ':\00a0\00a0';
            }
        }
    }
}
