/// <reference path="../references.scss" />



.nesi-message-overlay {
    opacity: 0;
    height: 0;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 1s;
    display: flex;
    align-items: center;
    justify-content: center;

    .nesi-message-content {
        width: 100%;
        height: 100%;
        overflow: hidden;

        @include color-set($colorset-content);

        @include mediaMedium {
            width: 50%;
            height: 50%;
            box-shadow: 0 0 0 0.7em rgba(0, 0, 0, 0.08);
            border-radius: 0.3em;
        }


        .nesi-message-page {
            display: flex;
            flex-flow: column;
            overflow: hidden;
            height: 100%;
            width: 100%;
            opacity: 1;
            
            @include float(left);



            &.read {
                white-space: nowrap;
                width: 0;
                opacity: 0;

                .nesi-message-title {
                    white-space: nowrap;
                }

                .nesi-message-body {
                    white-space: nowrap;
                    overflow: hidden;
                }

                .nesi-message-footer {
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            .nesi-message-title {
             
            }



            .nesi-message-body {
                height: 100%;
                overflow: auto;
            }

            .nesi-message-footer {
                
                .dot{
                    display:inline-block;
                    margin:0 1em;
                    border-radius:5em;
                    height:1em;
                    width:1em;
                    background-color:lighten($set-footer-bg-base, 20%);
                    border-color:$color-border;


                    &.active{
                        background-color:$color-active;
                    }
                }


            }
        }
    }
}


.nesi-message-area {
    height: 0;
    overflow: hidden;

    &.on {
        display: block;

        .nesi-message-overlay {
            height: 100%;
            width: 100%;
            opacity: 1;
            z-index: 9999;
        }
    }
}
