/// <reference path="../references.scss" />


/* MODAL SCREEN */

.modal-screen {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: $color-bg-modal;

    .beep_close_button {
        padding: 5px;
        font-size: 2em;
    }

    modal-title {
        font-size: $font-size-h1;
        background-color: map-get($colorset-header, bg) ;
        margin: 0;
        padding: 0.25em;
    }
}


/* DIALOGUE */

.dialogue {
    background-color: $color-bg-modal;
    border:1px solid $color-border-modal;
    overflow:auto;
}



.wash{
    background-color: $color-bg-wash;
}
