/// <reference path="../references.scss" />




.print-overlay-progress-bar {
    background: $color-bg-status-indicator;
    height: 0.4rem;
    transition: width 0.1s;
}

.print-overlay-progress-text {
    
}
