<!--<app-context-nav [NavItems]="NavItems"></app-context-nav>-->

<div class="span-height span-width flex ">

   <section class="padding -padding  text-center margin-wide-bottom col-1-4">
     <a href="" class="block">
          <div class="scale-huge"><i class="material-icons">create_new_folder</i></div>
          <span>create</span>
        </a>
        <a href="" class="block">
          <div class="scale-huge"><i class="material-icons">folder</i></div>
          <span>sliders</span>
        </a>
        <a href="" class="block">
          <div class="scale-huge"><i class="material-icons">folder</i></div>
          <span>documents</span>

        </a>
        <a href="" class="block">
          <div class="scale-huge"><i class="material-icons">folder</i></div>
          <span>promotions</span>
        </a>
        
      </section>

<section class="main-content">
  <div class="padding-comfy">




   
      <div>
        <h1>Assets</h1>
        <div class="padding-comfy text-center scale-large">
          <button class="accent"><i class="material-icons">cloud_upload</i><span>Upload</span></button>
        </div>

        <div class="padding -col-1-8 flex-center -padding  text-center margin-wide-bottom  files span-width -border -margin">

          <a class="position-relative block">
            <div class="position-absolute location-top-right">
              <i class="material-icons">clear</i>
            </div>
            <div class="scale-enormous">
              <i class="material-icons">description</i></div>
            <span class="scale-small">cow says moo.docx</span>
          </a>
          <a class="position-relative block">
            <div class="position-absolute location-top-right">
              <i class="material-icons">clear</i>
            </div>
            <div class="scale-enormous">
              <i class="material-icons">description</i></div>
            <span class="scale-small">raptor says graaaaahhhhhh.pdf</span>
          </a>
          <a class="position-relative block">
            <div class="position-absolute location-top-right">
              <i class="material-icons">clear</i>
            </div>
            <div class="scale-enormous">
              <img src="http://www.mqframingstore.com/thumbs_100_60/create_slider.jpg" alt="create" />
            </div>
            <span class="scale-small">create slider.jpg</span>
          </a>
        </div>
      </div>

      <strong class="scale-small padding-comfy">
    *Notes:  Using a Ajax uploader and no iframe would be preferable.  In addition it would be nice to get to a file directory by URL.  For instance  
    /asset?dir=sliders could bring you immediately to the sliders directory
      </strong>


  </div>

</section>


</div>