<!--<app-context-nav [NavItems]="NavItems"></app-context-nav>-->
<section class="main-content">
  <div class="padding-comfy">
    <h1 class="text-center">Dashboard</h1>

    <div class="_tabular def block-center">
<div>
  <div>Version</div>
  <div>2.10.00001</div>
</div>
<div>
  <div>Last Updated</div>
  <div>12/12/15 <sup> <a onclick="alert('Latest publish notes')" >notes</a> </sup> </div>
</div>

    </div>

    <div class="flex -col-1-2 -margin-wide">
      <div headingBox [heading]="'Product'">
        <dl>
          <dt>
            <a href="#">Add a New Product</a>
          </dt>
          <dd>&nbsp;</dd>
          <dt>
            <a href="#">Manage Product</a>
          </dt>
          <dd>Search, edit, or remove products from your online store.</dd>

          <dt>
            <a href="#">Manage Categories</a>
          </dt>
          <dd>Edit how your catalog is organized.</dd>

          <dt>
            <a href="#">Manage Print Options</a>
          </dt>
          <dd>Add or edit mediums and print sizes.</dd>
        </dl>
      </div>
      <div headingBox [heading]="'Framing'">
        <dl>

          <dt>
            <a href="#">Moulding</a>
          </dt>
          <dd>Manage your moulding inventory.</dd>
          <dt>
            <a href="#">Frame Preview Settings</a>
          </dt>
          <dd>Change how customers can preview a framed item.</dd>

          <dt>
            <a href="#">Other Framing Components</a>
          </dt>
          <dd>Manage your filets, mats, glazing, and more.</dd>

          <dt>
            <a href="#">Manage Collage Options</a>
          </dt>
          <dd>&nbsp;</dd>
        </dl>
      </div>

    </div>
    <div class="flex -col-1-2 -margin-wide">

      <div headingBox [heading]="'Ordering'">
        <dl>
          <dt>
            <a>New Orders</a>
          </dt>
          <dd>
            <span>You have X new orders to process!</span>
          </dd>
          <dt>
            <a>All Orders</a>
          </dt>

          <dd>
            <span>Search and manage your order archive.</span>
          </dd>
          <dt>
            <a>Customers</a>
          </dt>
          <dd>
            <span>Search and edit your customer database.</span>
          </dd>
        </dl>
      </div>


      <div headingBox [heading]="'CMS'">
        <dl>
          <dt>
            <a>Edit Main Styles</a>
          </dt>
          <dd>
            <span>Change the website background, button and link colors, form colors</span>
          </dd>
          <dt>
            <a>Header</a>
          </dt>
          <dd>
            <span>Edit your logo, menu style and location</span>
          </dd>
          <dt>
            <a>Footer</a>
          </dt>
          <dd>
            <span>Change the footer layout or add content to the footer</span>
          </dd>
          <dt>
            <a>Edit Menus</a>
          </dt>
          <dd>
            <span>&nbsp;</span>
          </dd>
          <dt>
            <a>Edit Sidebar</a>
          </dt>
          <dd>
            <span>&nbsp;</span>
          </dd>

        </dl>
      </div>
    </div>


    <div class="-margin-wide">
      <div headingBox [heading]="'Settings'">
        <dl>
          <dt>
            <a>Company Info &amp; Policies</a>
          </dt>
          <dd>
            <span>Address, return policy, and other information that the customer sees.</span>
          </dd>
          <dt>
            <a>Promotions &amp; Discount Codes</a>
          </dt>
          <dd>&nbsp;</dd>
          <dt>
            <a>Affiliates</a>
          </dt>
          <dd>&nbsp;</dd>
          <dt>
            <a>Payment Options</a>
          </dt>
          <dd>&nbsp;</dd>
          <dt>
            <a>Shipping Options</a>
          </dt>
          <dd>&nbsp;</dd>
          <dt>
            <a>See All Settings</a>
          </dt>
          <dd>&nbsp;</dd>
        </dl>
      </div>


    </div>



  </div>
</section>