<app-context-nav [NavItems]="NavItems"></app-context-nav>

<section class="main-content">
  <div class="padding-comfy">

<h1>Framing </h1>


 <div class="sm-flex-center scale-large padding-comfy -padding-roomy text-center">
      <a quickLink href="#" [icon]="'check_box_outline_blank'">Add Moulding</a>
      <a quickLink href="#" [icon]="'video_label'">Add Matboard</a>
      <a quickLink href="#" [icon]="'select_all'">Add Glazing</a>
      <a quickLink href="#" [icon]="'content_copy'">Add Mounting</a>      
      <a quickLink href="#" [icon]="'check_box_outline_blank'">Add Fillet</a>      
      <a quickLink href="#" [icon]="'check_box_outline_blank'">Add Liner</a>      
    </div>




  </div>
</section>